# This is a sample configuration file

# configurations start with absolute path of input graph file
# followed by export format (graphml/gexf/pdf)

# each filter/layout task starts with - 
# followed by an optional line of parameters
# the program will apply specified tasks in a chain

# Below is an example list of tasks on a graph

# I/O Settings
/Users/hao/Repo/Gephi-Filter/example.graphml
pdf

# Filters
- GiantComponentsFilter

- DegreeFilter
1 10

# Layouts
- NoverlapLayout

- RotateLayout
90.0

- ScaleLayout
1.5

- YifanHuLayout
10